In [23]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import timedelta, datetime
import ipywidgets as widgets
from IPython.display import display, clear_output
import matplotlib.pyplot as plt

In [2]:
# Pull all of our data into dataframes for analysis.
# Start by writing queries to use later.

fetch_bars = "SELECT * FROM Bars"

fetch_users = "SELECT * FROM Users"

fetch_reviews = "SELECT * FROM Reviews"

In [3]:
engine = create_engine("mysql+mysqlconnector://sql5743967:FsUwn8fAfT@sql5.freemysqlhosting.net/sql5743967")

In [4]:
df_bars = pd.read_sql(fetch_bars, con = engine)

df_bars.head(5)

   BID                Name  Zip_code  Flow_rate
0  563       Harbor & Hops      2127         29
1  564        Beacon Brews      2127          7
2  565       Fenway Tavern      2127         13
3  566  The Green Line Pub      2127          8
4  567     Back Bay Barrel      2127         40

In [5]:
df_users = pd.read_sql(fetch_users, con = engine)

df_users.head(5)

   UID          Name  Gender  Age  Zip_code
0    1    John Smith       0   27      2115
1    2      Jane Doe       2   41      2127
2    3  Alex Johnson       1   33      2115
3    4   Emily Davis       1   35      2127
4    6  Sarah Wilson       0   37      2115

In [6]:
df_reviews = pd.read_sql(fetch_reviews, con = engine)

df_reviews.head(5)

   RID           Timestamp  UID  BID  Estimate
0    1 2025-01-17 23:57:23  545  566        16
1    2 2025-01-17 23:43:41  324  564        86
2    3 2025-01-17 23:42:55  461  571        27
3    4 2025-01-17 23:38:50  241  564        71
4    5 2025-01-17 23:35:48   74  563        38

In [7]:
def moving_10m(bar_id):
    try:
        bar_id = int(bar_id)
    except ValueError:
        return "Invalid Bar ID! Please enter a numeric BID."
    
    if bar_id not in df_reviews['BID'].values:
        return f"BID {bid} not found."
        
    df_bid = df_reviews[df_reviews['BID'] == bar_id]
    
    most_recent_time = df_bid['Timestamp'].max()
    
    df_filtered = df_bid[df_bid['Timestamp'] >= most_recent_time - timedelta(minutes=10)]
    
    avg_estimate = df_filtered['Estimate'].mean()
    return avg_estimate

result = moving_10m(564)

print(result)

78.5

In [47]:
bid_map = {
    563: 'Harbor & Hops',
    564: 'Beacon Brews',
    565: 'Fenway Tavern',
    566: 'The Green Line Pub',
    567: 'Back Bay Barrel',
    568: 'Southie Spirits',
    569: 'The Freedom Taproom',
    570: 'Charles River Brew House',
    571: 'Cobblestone & co',
    572: 'The Bostonian Barrel',
}

In [71]:

dropdown = widgets.Dropdown(
    options=[(name, bid) for bid, name in bid_map.items()],
    value=566,  # Default selected BID
    description="Select Bar:",
)

# Output widget to display the visualizations
output = widgets.Output()

# Function to update visualizations
def update_visualizations(selected_bid):
    with output:
        output.clear_output(wait=True)
        
        # Filter the last 10 estimates for the selected BID
        filtered_bid_df = df_reviews[df_reviews["BID"] == selected_bid].sort_values(by="Timestamp", ascending=False)
        last_10_estimates = filtered_bid_df.head(10)
        avg_last_10_estimates = last_10_estimates["Estimate"].mean()
        
        # Line graph: Average estimate each day for the last week
        now = df_reviews["Timestamp"].max()
        last_week = now - pd.Timedelta(days=7)
        weekly_data = (
            df_reviews[(df_reviews["Timestamp"] >= last_week) & (df_reviews["BID"] == selected_bid)]
            .groupby(df_reviews["Timestamp"].dt.date)["Estimate"]
            .mean()
        )
        

        most_recent_other_bids = (
        df_reviews[df_reviews["BID"] != selected_bid]
        .sort_values(by="Timestamp", ascending=False)
        .drop_duplicates(subset="BID")
        .set_index("BID")["Estimate"]
        )
        
        # Plotting
        fig, axes = plt.subplots(1, 3, figsize=(18, 5))
        
        # Single number
        axes[0].text(
            0.5,
            0.5,
            f"{avg_last_10_estimates:.2f}" if pd.notna(avg_last_10_estimates) else "N/A",
            fontsize=24,
            ha="center",
            va="center",
        )
        axes[0].set_title("Line Estimate:")
        axes[0].axis("off")
        
        # Line graph
        if not weekly_data.empty:
            weekly_data.plot(ax=axes[1], marker="o")
            axes[1].set_xticklabels(weekly_data.index, rotation=45)
        axes[1].set_title("Avg Line Length (Daily Last Week):")
        axes[1].set_xlabel("Date")
        axes[1].set_ylabel("Estimate")
        
        # Bar graph
        most_recent_other_bids.plot(kind="bar", ax=axes[2])
        axes[2].set_title("Line Estimate at nearby Bars:")
        axes[2].set_xlabel("BID")
        axes[2].set_ylabel("Estimate")
        
        plt.tight_layout()
        plt.show()

# Attach the dropdown change listener
def on_dropdown_change(change):
    if change["type"] == "change" and change["name"] == "value":
        update_visualizations(change["new"])

# Observe dropdown changes and update
dropdown.observe(on_dropdown_change, names="value")

# Initial visualization
display(widgets.VBox([dropdown, output]))
update_visualizations(dropdown.value)

import warnings
warnings.filterwarnings('ignore', category = UserWarning)

VBox(children=(Dropdown(description='Select Bar:', index=3, options=(('Harbor & Hops', 563), ('Beacon Brews', …