In [139]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [100]:
# Test that connection works
try:
    connection = mysql.connector.connect(
        host='sql5.freemysqlhosting.net',
        user='sql5743967',
        password='FsUwn8fAfT',
        database='sql5743967'
    )
    
    if connection.is_connected():
        print("Connected to MySQL database")
    
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database
MySQL connection is closed

In [33]:
# Some SQL queries that we'll use later as we setup our database

drop_table_query = """
    DROP TABLE IF EXISTS Reviews;
    
    DROP TABLE IF EXISTS Bars;

    DROP TABLE IF EXISTS Users;
    """

create_table_query = """
    CREATE TABLE Bars (
        BID INT PRIMARY KEY,
        Name TEXT NOT NULL,
        Zip_code INT,
        Flow_rate INT
    );
    
    CREATE TABLE Users (
        UID INT PRIMARY KEY,
        Name TEXT NOT NULL,
        Gender INT CHECK (Role in (0, 1, 2)),
        Age INT,
        Zip_code INT
    );
    
    CREATE TABLE Reviews (
        RID INT PRIMARY KEY,
        Timestamp DATETIME NOT NULL,
        UID INT,
        BID INT,
        Estimate INT,
        FOREIGN KEY (UID) REFERENCES Users(UID),
        FOREIGN KEY (BID) REFERENCES Bars(BID)
    );
    """

In [35]:
# Delete tables if the exist as a first step
try:
    connection = mysql.connector.connect(
        host='sql5.freemysqlhosting.net',
        user='sql5743967',
        password='FsUwn8fAfT',
        database='sql5743967'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        cursor.execute(drop_table_query)
        print("Tables dropped successfully")
        
except Error as e:
    print("Error:", e)

Tables dropped successfully

In [37]:
# Create tables per our ERD
try:
    connection = mysql.connector.connect(
        host='sql5.freemysqlhosting.net',
        user='sql5743967',
        password='FsUwn8fAfT',
        database='sql5743967'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()
        
        cursor.execute(create_table_query)
        print("Table created successfully")
        
except Error as e:
    print("Error:", e)

Table created successfully

In [94]:
# Now need to insert data into these tables. These are the SQL queries we'll use.
# We are using simulated data so this is done all at once with bulk loading. However, in a real situation each user would be submitting reviews one by one.

load_bar_data = """
    LOAD DATA LOCAL INFILE 'bar_data_cleaned.csv'
    INTO TABLE Bars
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS
    (Name, BID, Flow_rate, Zip_code);
"""

load_user_data = """
    LOAD DATA LOCAL INFILE 'user_data_cleaned.csv'
    INTO TABLE Users
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS
    (Name, UID, Age, Gender, Zip_code);
"""

load_review_data = """
    LOAD DATA LOCAL INFILE 'review_data_cleaned.csv'
    INTO TABLE Reviews
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS
    (Timestamp, UID, BID, Estimate, RID);
"""

In [143]:
# Before loading data, we need to perform a few data quality and governance checks. 
# Data types must match what our database is expecting, and we need to drop a couple fields from one CSV to ensure the fields match.
# Also, must rename columns to match the database tables.

df_bars = pd.read_csv('bar_data.csv')

print(df_bars.dtypes)

df_bars['Name'] = df_bars['Name'].astype(str)
df_bars['Bar ID'] = df_bars['Bar ID'].astype(int)
df_bars['Flow Rate'] = df_bars['Flow Rate'].astype(int)
df_bars['Zip Code'] = df_bars['Zip Code'].astype(int)

df_bars.rename(columns = {
    'Bar ID' : 'BID',
    'Flow Rate' : 'Flow_rate',
    'Zip Code' : 'Zip_code'
}, inplace = True)

print(df_bars.dtypes)

df_bars.to_csv('bar_data_cleaned.csv', index=False)

Name         object
Bar ID        int64
Flow Rate     int64
Zip Code      int64
dtype: object
Name         object
BID           int32
Flow_rate     int32
Zip_code      int32
dtype: object

In [125]:
df_users = pd.read_csv('consumer_data.csv')

print(df_users.dtypes)

df_users['Name'] = df_users['Name'].astype(str)
df_users['User ID'] = df_users['User ID'].astype(int)
df_users['Age'] = df_users['Age'].astype(int)
df_users['Gender'] = df_users['Gender'].astype(int)
df_users['Zip Code'] = df_users['Zip Code'].astype(int)

df_users.rename(columns = {
    'User ID' : 'UID',
    'Zip Code' : 'Zip_code'
}, inplace = True)

print(df_users.dtypes)

df_users.to_csv('user_data_cleaned.csv', index=False)

Name        object
User ID      int64
Age          int64
Gender       int64
Zip Code     int64
dtype: object
Name        object
UID          int32
Age          int32
Gender       int32
Zip_code     int32
dtype: object

In [133]:
# Add a unique ID to reviews csv named Review ID

df_reviews = pd.read_csv('simulated_data.csv')

df_reviews['Review ID'] = range(1, len(df_reviews) + 1)

df_reviews.head()

,timestamp,name,user_id,bar,bar_id,flow_rate,guest_estimate,Review ID
0,2025-01-17 23:57:23,Sophia Ward,545,The Green Line Pub,566,8,16,1
1,2025-01-17 23:43:41,Tyler Jones,324,Beacon Brews,564,7,86,2
2,2025-01-17 23:42:55,Olivia Green,461,Cobblestone & Co.,571,22,27,3
3,2025-01-17 23:38:50,Zoe Taylor,241,Beacon Brews,564,7,71,4
4,2025-01-17 23:35:48,Mila Ramirez,74,Harbor & Hops,563,29,38,5

In [135]:
print(df_reviews.dtypes)

df_reviews.drop(columns = ['name', 'bar', 'flow_rate'], inplace = True)

df_reviews['timestamp'] = pd.to_datetime(df_reviews['timestamp'])
df_reviews['user_id'] = df_reviews['user_id'].astype(int)
df_reviews['bar_id'] = df_reviews['bar_id'].astype(int)
df_reviews['guest_estimate'] = df_reviews['guest_estimate'].astype(int)
df_reviews['Review ID'] = df_reviews['Review ID'].astype(int)

df_reviews.rename(columns = {
    'timestamp' : 'Timestamp',
    'user_id' : 'UID',
    'bar_id' : 'BID',
    'guest_estimate' : 'Estimate',
    'Review ID' : 'RID'
}, inplace = True)

print(df_reviews.dtypes)

df_reviews.to_csv('review_data_cleaned.csv', index=False)

timestamp         object
name              object
user_id            int64
bar               object
bar_id             int64
flow_rate          int64
guest_estimate     int64
Review ID          int64
dtype: object
Timestamp    datetime64[ns]
UID                   int32
BID                   int32
Estimate              int32
RID                   int32
dtype: object

In [ ]:
# Use SQLAlchemy package to perform the actual data loading step one table at a time. First with bars, then users, then reviews.

engine = create_engine("mysql+mysqlconnector://sql5743967:FsUwn8fAfT@sql5.freemysqlhosting.net/sql5743967")

df_bars.to_sql('Bars', con=engine, if_exists='append', index=False, chunksize=1000)

In [147]:
engine = create_engine("mysql+mysqlconnector://sql5743967:FsUwn8fAfT@sql5.freemysqlhosting.net/sql5743967")

df_users.to_sql('Users', con=engine, if_exists='append', index=False, chunksize=1000)

501

In [151]:
engine = create_engine("mysql+mysqlconnector://sql5743967:FsUwn8fAfT@sql5.freemysqlhosting.net/sql5743967")

df_reviews.to_sql('Reviews', con=engine, if_exists='append', index=False, chunksize=1000)

10800